name: Auto Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 安装 Node.js（版本你自己定，这里用 20）
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      # 安装依赖
      - name: Install dependencies
        run: npm install

      # 构建项目
      - name: Build
        run: npm run build
